# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.env
.DS_Store

# Ignore virtual environment
venv/
.env/

# Ignore logs
logs/

#ignore supporting .sh scripts
*.sh

#ignore supporting .py scripts
p_cancel.py
cron.py
calc.py

rust/
